<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #error {
      display: none;
    }
    ul{
      list-style: none;
      width:250px
    }
    li{
      width: 240px;
      display: inline-block;
    }
    li button{
      color: red;
      border: none;
      font-size: 20px;
      margin: 0px;
      padding: 0px;
      background-color: white;
      cursor: pointer;
      float: right;
    }
  </style>
</head>

<!-- body -->
<body>
  <form id='formhandler'>
    <label for="">enter you a thing you want to do</label>
    <input id= 'item' type="text" name="field1">
    <input type="submit">
  </form>
  <div id='error' class='hidden'>something went wrong</div>
  <ul id="ulitem">
    {% for todo in data: %}
    <li><input class="checkbox" type="checkbox" data-id="{{todo.id}}" {% if todo.completed %} checked {% endif %}>
      {{todo.description}}
      <button class='button' data-id="{{todo.id}}">&cross;</button>
    </li>
    {% endfor %}
  </ul>


  <script>
    // checkbox
    const checkBoxArray=document.querySelectorAll('.checkbox')
    for(i=0;i<checkBoxArray.length;i++){
      let checkbox = checkBoxArray[i]
      checkbox.onchange = function(e){
        console.log(e)
        let completedState = e.target.checked
        let todoid = e.target.dataset.id
        console.log(completedState)
        fetch('todo/'+todoid+'/completeTodoCheckbox',{
          method:'POST',
          body:JSON.stringify({
            'completed':completedState
          }),
          headers:{
            'Content-Type': 'application/json'
          }
        })
        .then(function(x) {
            console.log('resolved',x)
            document.getElementById('error').className = 'hidden';
          })
        .catch(function() {
            console.log('went wrong')
            document.getElementById('error').className = '';
          })
      }
    }
    // create
    document.getElementById('formhandler').onsubmit = function(e){
      e.preventDefault(); 
      fetch('/todo/create',{
        method:'POST',
        body:JSON.stringify({
          'todo':document.getElementById('item').value
        }),
        headers:{
          'Content-Type':'application/json'
        }
        
      })
      .then(response=>response.json())
      .then(responseJson=>{
        const ulItem = document.getElementById('ulitem')
        const liItem = document.createElement('LI')
        liItem.innerHTML=responseJson['description']
        ulItem.appendChild(liItem)
        document.getElementById('error').classname='hidden'
      })
      .catch(()=>{
        document.getElementById('error').classname=''
      })
    }
  // delete
    const buttonsArray=document.querySelectorAll('.button')
    for (i=0;i<buttonsArray.length;i++){
      const button=buttonsArray[i]
      button.onclick=function(e){
        console.log(e)
        const toDoId = e.target.dataset.id
        fetch('/todo/'+toDoId+'/delete',{
          method:'DELETE'
        })
      }
    }
  </script>
</body>
</html>